{{ define "main" }}

  <h1 class="hi">{{ .Title }}</h1>

  <section class="list-description">{{ .Content }}</section>

  <section class="card-container">
    {{ range .Site.Data.projects }}
      <section class="card">
        <div class="card-header">
          <img class="card-image" src="{{ .image }}" alt="{{ .title }}" />
          <div class="card-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        <div class="card-body">
          <p>{{ .description }}</p>
          <p>🏁 {{ if .isArchived }}archived{{ else }}active{{ end }}</p>
          {{ $tags := .tags }}
          <p>#️ {{ range $index, $tag := $tags }}{{ if lt $index (sub (len $tags) 1) }}{{ $tag }}, {{ else }}{{ $tag }}{{ end }}{{ end }}</p>
          <p>🔗 <a class="link" href="{{ .link.url }}">{{ .link.name }}</a></p>
        </div>
      </section>
    {{ end }}
  </section>

{{ end }}
