@import "tailwindcss";

@theme {
  --color-dark-bg: #181a1b;
  --color-h1-text: #d4d4d6;
  --color-h2-text: #aaaaaa;
  --color-content-text: #9ca3af;
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}