@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  /* İndirdiğiniz font dosyasının yolu ve formatı buraya yazılmalı */
  font-weight: 400; /* Kalınlık */
  font-style: normal; /* Stil */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Başlık, İçerik, Altbilgi */
  height: 100vh; /* Ekran yüksekliği kadar alır */
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; /* Padding hesabı kutu modeline dahil edilir */
  width: 70%;
  margin: auto;
}

header, footer {
  padding: 20px;
  text-align: center;
}

header, footer {
  background-color: #333;
  color: white;
}

main {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #333;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  body {
      width: 100%;
      padding: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      width: 90%;
  }
}
