@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}

header, footer {
  padding: 20px;
  text-align: center;
}

header, footer {
  background-color: #18181b;
  color: white;
}

main {
  background-color: #18181b;
  padding: 20px;
  color: #f4f4f4;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  body {
      width: 100%;
      padding: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      width: 90%;
  }
}
