{{ define "main" }}
<section class="section-header">
  <h2 class="title">
    I’m Yalın. <br />
    <span>I live in Ankara, Turkey.</span>
  </h2>

  {{/* {{ $image := resources.Get "images/profile.jpg" }} {{ with $image }} {{
  with .Resize (printf "%dx%d webp" .Width .Height) }}
  <img
    class="profile-img"
    src="{{ .RelPermalink }}"
    width="{{ .Width }}"
    height="{{ .Height }}"
  />
  {{ end }} {{ end }} */}}
</section>

<section class="main-content">
  <section class="about">
    <p class="about-content">
      I'm a software developer with a passion for building things. I'm currently
      working at
      <a class="working" href="https://nettasoftware.com/" target="_blank"
        >Netta Tech</a
      >
      as a software developer.
    </p>

    <!-- Interests -->
    <p class="about-content">
      I improved myself with the help of various courses and curiosity. I have
      worked in various freelance jobs. I'm a big fan of Free and open-source
      software and I try to develop and contribute to open source projects when
      I can. I have been a member of
      <a class="working" href="https://www.fsf.org/" target="_blank">FSF</a>
      since 2015 and in the same years I became the founder of
      <a
        class="working"
        href="https://www.pm.org/groups/649.html"
        target="_blank"
        >Perl Mongers Ankara</a
      >. In addition to my expertise in JavaScript and TypeScript, I also have
      hands-on experience with Ruby on Rails, Go, Flutter and React
      Native.
    </p>

    <p class="about-content">
      I'm also a big fan of role-playing games, I love playing indie games and
      even developing games whenever I can. I like to read comics and I have a
      collection, even if it's not a big one.
    </p>

    <p class="about-content">
      So what am I doing <a class="working" href="/now">now</a>?
    </p>

    {{ partial "social.html" . }}

    <section class="email">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="#aaaaaa"
      >
        <path
          d="M13.718 10.528c0 .792-.268 1.829-.684 2.642-1.009 1.98-3.063 1.967-3.063-.14 0-.786.27-1.799.687-2.58 1.021-1.925 3.06-1.624 3.06.078zm10.282 1.472c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-5-1.194c0-3.246-2.631-5.601-6.256-5.601-4.967 0-7.744 3.149-7.744 7.073 0 3.672 2.467 6.517 7.024 6.517 2.52 0 4.124-.726 5.122-1.288l-.687-.991c-1.022.593-2.251 1.136-4.256 1.136-3.429 0-5.733-2.199-5.733-5.473 0-5.714 6.401-6.758 9.214-5.071 2.624 1.642 2.524 5.578.582 7.083-1.034.826-2.199.799-1.821-.756 0 0 1.212-4.489 1.354-4.975h-1.364l-.271.952c-.278-.785-.943-1.295-1.911-1.295-2.018 0-3.722 2.19-3.722 4.783 0 1.73.913 2.804 2.38 2.804 1.283 0 1.95-.726 2.364-1.373-.3 2.898 5.725 1.557 5.725-3.525z"
        />
      </svg>

      <a href="mailto:yalinpala@protonmail.com"
        >yalinpala [at] protonmail [dot] com
      </a>
    </section>

    <p class="ask">
      If they are not enough please ask via any of the other contact methods
      first.
    </p>
  </section>
</section>

{{ partial "experience.html" . }} {{ end }}
