/* Set global styles for body */
body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

/* Define styles for header */
.header {
  grid-area: header;
  margin: 10px;
}

/* Define styles for main content area */
.main {
  grid-area: main;
  width: 90%;
  min-height: 50vh;
  margin: 0 auto;
}

/* Define styles for footer */
.footer {
  grid-area: footer;
  margin: 10px;
}

/* Define styles for footer area */
.footer-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* Define styles for date */
.date {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  color: #f4f4f5;
}

/* Define styles for w-a class */
.w-a {
  flex: 1;
  text-decoration: none;
  text-align: center;
}

/* Define styles for svg within w-a class */
.w-a svg {
  width: 2rem;
  height: 2rem;
}

/* Define hover styles for svg within w-a class */
.w-a svg:hover {
  fill: #f4f4f5;
}

/* Define styles for footer navigation */
.footer-navigation {
  flex: 1;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* Define styles for links within footer navigation */
.footer-navigation a {
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
  color: #f4f4f5;
  padding: 0.5rem 0.5rem;
}

/* Define hover and active styles for links within footer navigation */
.footer-navigation a:hover,
.footer-navigation a:active {
  background-color: #e6bf00;
  color: #18181b;
}

/* Define styles for container */
.container {
  border: 1px;
  border-radius: 5px;
  margin: 0 auto;
  width: 60%;
  background-color: #18181b;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Define styles for hi, title, and summary classes */
.hi {
  font-size: 3rem;
  font-weight: 700;
  color: #f4f4f5;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #aaaaaa;
}

.summary {
  font-size: 1.5rem;
  font-weight: 400;
  color: #aaaaaa;
  width: 70%;
}

/* Define styles for social class */
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

/* Define styles for links and svg within social class */
.social a {
  margin-right: 1rem;
}

.social svg {
  width: 2rem;
  height: 2rem;
}

.social svg:hover {
  fill: #f4f4f5;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.email a {
  margin-right: 1rem;
  padding-left: 10px;
  text-decoration: none;
  color: #aaaaaa;
}

.email :hover {
  color: #f4f4f5;
}

/* Define styles for hr */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px dashed #E6BF00;
}

/* Define styles for header image */
.header-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(50%);
}

/* Define styles for navigation */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* Define styles for links within navigation */
.navigation a {
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  color: #f4f4f5;
  padding: 0.5rem 0.5rem;
}

/* Define hover and active styles for links within navigation */
.navigation a:hover,
.navigation a:active {
  background-color: #e6bf00;
  color: #18181b;
}

/* Styles for main content area */
.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Styles for section headers */
.section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* Styles for titles */
.title {
  flex: 2;
  font-size: 3rem;
  font-weight: 500;
  color: #f4f4f5;
}

/* Styles for profile images */
.profile-img {
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(50%);
}

/* Styles for about section */
.about {
  flex: 2;
}

/* Styles for about content */
.about-content {
  font-size: 1.5rem;
  font-weight: 300;
  color: #aaaaaa;
  line-height: 1.3;
}

/* Styles for working links */
.working {
  text-decoration: none;
  color: #e6bf00;
}

.working:hover,
.working:visited {
  color: #e6bf00;
}

/* Styles for ask class */
.ask {
  color: #aaaaaa;
}

/* Styles for experience section */
.experience {
  display: flex;
  width: 100%;
  max-width: 200px;
  margin-left: 1rem;
}

.job {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.job img {
  border-radius: 50%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  object-fit: cover;
  background-color: black;
}

.job-detail {
  display: flex;
  flex-direction: column;
  color: #aaaaaa;
}

.job-link {
  text-decoration: none;
  color: #e6bf00;
}

.job-link:hover {
  color: #e6bf00;
}

.job-link:visited {
  color: #e6bf00;
}

.experience-title {
  color: #aaaaaa;
  font-size: 2rem;
  font-weight: 500;
}

.cv-section {
  display: flex;
  margin-top: 1rem;
}

.cv {
  color: #f4f4f5;
  margin-right: 10px;
}

.cv:hover {
  color: #e6bf00;
}

.cv-icon {
  margin-right: 10px;
}

/* Define responsive styles for container and main */
@media (max-width: 640px) {
  .container,
  .main {
    width: 100%;
  }

  .main {
    margin: 0 0 5px 5px;
  }
}