---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="404 - Page Not Found">
  <main
    class="flex flex-col items-center justify-center h-screen text-center space-y-6 bg-dark-bg text-h1-text"
  >
    <p class="text-xl text-h2-text">
      Oops! The page you are looking for doesn't exist.
    </p>
    <p class="text-h2-text">
      It seems you’ve taken a wrong turn. Don’t worry, it happens to the best of
      us!
    </p>
  </main>
</Layout>
