---
import Layout from "../layouts/Layout.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="yp's home page" page="index">
  <p class="hi">
    Hi, I'm Yalın. <br />
    <span class="title">Software Developer, FOSS enthusias.</span>
  </p>
  <p class="summary">
    My passion lies in contributing to and developing open source projects. I’m
    interested in building accessible, maintainable, distributed systems.
    Currently, I work as a software developer at Netta Tech.
  </p>

  <section>
    <SocialLinks />
  </section>
</Layout>

<style>
  .hi {
    font-size: 3rem;
    font-weight: 700;
    color: #f4f4f5;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #aaaaaa;
  }

  .summary {
    font-size: 1.5rem;
    font-weight: 400;
    color: #aaaaaa;
    width: 70%;
  }

  @media screen and (max-width: 768px) {
    .summary {
      width: 100%;
    }
  }
</style>
