---
import Layout from "../layouts/Layout.astro";
---

<Layout title="yp's home page">
  <p class="title">
    Software designer, founder, and amateur astronaut.
  </p>
  <p class="bio">
    I’m Spencer, a software designer and entrepreneur based in New York City. I’m the founder and CEO of Planetaria, where we develop technologies that empower regular people to explore space on their own terms.
  </p>
</Layout>

<style>
    .title {
        font-size: 3rem;
        font-weight: 600;
        color: #f4f4f5;
    }
    
    .bio {
        font-size: 1.5rem;
        font-weight: 400;
        color: #f4f4f5;
    }
</style>
