---
import Layout from '../layouts/BaseLayout.astro';
import InlineLink from "../components/InlineLink.astro";

const title = 'Home';
---

<Layout title={title}>
	<main class="space-y-4">
		<h1 class="text-5xl text-h1-text">Hi, I'm Yalın.</h1>
		<h2 class="text-4xl text-h2-text mb-8">Software Developer, FOSS enthusias.</h2>
		<p class="text-2xl text-h2-text">
			My passion lies in contributing to and developing open source projects.
			I’m interested in building accessible, maintainable, distributed systems.
			Currently, I work as a software developer at
			<InlineLink href="https://www.linkedin.com/company/netta-tech" content="Netta Tech" />.
		</p>
	</main>
</Layout>
