---
import Layout from "../layouts/BaseLayout.astro";
import InlineLink from "../components/InlineLink.astro";
import Contact from "../components/Contact.astro";

const title = "Home";
---

<Layout title={title}>
  <main class="space-y-4">
    <h1 class="text-5xl text-h1-text">Hi, I'm Yalın.</h1>
    <h2 class="text-4xl text-h2-text mb-8">
      Software Developer & FOSS Enthusiast
    </h2>
    <p class="text-2xl text-h2-text font-light">
      I'm passionate about contributing to and developing open-source projects.
      I enjoy building accessible, maintainable, and distributed systems.
      Currently, I’m working as a software developer at
      <InlineLink
        href="https://www.linkedin.com/company/netta-tech"
        content="Netta Tech"
      />.
    </p>

    <p class="text-2xl text-h2-text font-light">
      For more details about me, feel free to visit my
      <InlineLink href="/about" content="about" target="_self" /> page.
    </p>

    <section>
      <p class="text-2xl text-h2-text py-4 font-light">You can reach me on:</p>
      <Contact />
    </section>
  </main>
</Layout>
