---
import Icon from "./icons/Icon.astro";
---

<div class="flex flex-row gap-6">
  <a
    class="hover:opacity-80"
    href="https://fosstodon.org/@yplog"
    target="_blank"
  >
    <Icon name="mastodon" />
  </a>

  <a class="hover:opacity-80" href="https://github.com/yplog" target="_blank">
    <Icon name="github" />
  </a>

  <a
    class="hover:opacity-80"
    href="https://www.linkedin.com/in/yalin-pala/"
    target="_blank"
  >
    <Icon name="linkedin" />
  </a>

  <a
    class="hover:opacity-80"
    href="mailto:yalinpala@protonmail.com"
    target="_blank"
  >
    <Icon name="email" />
  </a>
</div>
