---
import Break from "./Break.astro";
const year = new Date().getFullYear();
---

<main>
  <Break />
  <section class="footer-area">
    <p class="date">
      {year} Yalın Pala
    </p>
    <a class="w-a" href="http://www.wtfpl.net/" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="svg2"
        version="1.1"
        width="24"
        height="24"
        class="licence"
        viewBox="0 0 290 290"
        fill="#aaaaaa"
      >
        >
        <path
          d="M 108.40625 5.90625 C 52.306055 5.90625 6.84375 51.399805 6.84375 107.5 C 6.84375 163.60019 52.306055 209.09375 108.40625 209.09375 C 122.61329 209.09375 136.12775 206.14216 148.40625 200.875 C 160.68475 206.14216 174.19921 209.09375 188.40625 209.09375 C 244.50644 209.09375 290 163.60019 290 107.5 C 290 51.399805 244.50644 5.90625 188.40625 5.90625 C 174.19921 5.90625 160.68475 8.8578414 148.40625 14.125 C 136.12775 8.8578414 122.61329 5.90625 108.40625 5.90625 z M 106.40625 37.8125 C 121.73587 37.8125 135.91647 42.733394 147.46875 51.0625 C 159.02103 42.733394 173.17038 37.8125 188.5 37.8125 C 227.32183 37.8125 258.8125 69.271923 258.8125 108.09375 C 258.8125 146.91558 227.32183 178.40625 188.5 178.40625 C 173.17274 178.40625 159.02006 173.48302 147.46875 165.15625 C 135.91744 173.48302 121.73351 178.40625 106.40625 178.40625 C 67.584423 178.40625 36.125 146.91558 36.125 108.09375 C 36.125 69.271923 67.584423 37.8125 106.40625 37.8125 z "
          id="path2989"></path>
        <path
          d="m 116.82546,66.192973 -33.419525,0 c -22.54767,46.689617 -3.679505,78.469377 11.230018,85.067227 14.909527,6.59786 39.297897,10.78923 52.843627,-13.64071 11.127,20.91039 36.41018,22.12022 53.22181,14.37696 16.81163,-7.74327 33.12311,-43.11547 11.73047,-85.803477 l -33.99227,2.7e-5 c 11.50159,26.419492 11.73257,62.462 0.009,63.53264 -11.72378,1.07063 -15.09694,-2.84981 -13.76446,-44.285231 l -33.309,-0.149602 c 2.48911,40.900273 -5.08883,48.002003 -15.33865,43.514363 -10.24982,-4.48763 -9.79468,-28.13042 0.78918,-62.612197 z"
          id="path3768"
          inkscape:connector-curvature="0"></path>
      </svg>
    </a>

    <nav class="navigation">
      <a href="/about/">About</a>
      <a href="/projects/">Projects</a>
    </nav>
  </section>
</main>

<style>
  .footer-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .date {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    color: #f4f4f5;
  }

  .w-a {
    flex: 1;
    text-decoration: none;
    text-align: center;
  }

  .w-a svg {
    width: 2rem;
    height: 2rem;
  }

  .w-a svg:hover {
    fill: #f4f4f5;
  }

  .navigation {
    flex: 1;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .navigation a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
    color: #f4f4f5;
    padding: 0.5rem 0.5rem;
  }

  .navigation a:hover {
    background-color: #e6bf00;
    color: #18181b;
  }

  .navigation a:active {
    background-color: #c0a800;
    color: #18181b;
  }
</style>
