---
const year = new Date().getFullYear();
---

<section class="footer-area">
    <p>2020 - {year}</p>
    <p>footer 2</p>
    <p>footer 3</p>
</section>

<style>
    .footer-area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
</style>
