---
import InlineLink from "./InlineLink.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---

<div class="flex flex-wrap gap-2">
  {
    tags.map((tag: string) => (
      <InlineLink href={`/tags/${tag}`} content={`#${tag}`} target="_self" />
    ))
  }
</div>
