.about {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.audio { 
  width: 50px; 
  height: 20px; 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #FFCC00;
  color: #FFCC00;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #FFCC00;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}