.vtl {
  position: relative;
  padding: 10px 10px 10px 50px;
  max-width: 400px;
}

.vtl::before {
  content: "";
  width: 5px;
  background-color: #ffcc00;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
}

.exsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.event {
  padding: 20px 30px;
  background-color: #fbdfc0;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
}

.etitle {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.edate {
  font-size: 1.1em;
  font-style: italic;
  color: #161616;
}

p.etxt {
  margin: 10px 0 0 0;
  color: black;
}

p.etags {
  margin: 10px 0 0 0;
  color: gray;
  font-style: italic;
}

div.event::before {
  content: "";
  border: 10px solid transparent;
  border-right-color: #fbdfc0;
  border-left: 0;
  position: absolute;
  top: 20%;
  left: -10px;
}

div.event::after {
  content: "";
  background: #fff;
  border: 4px solid #fcd188;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -44px;
}
