.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .resImg {
    max-width: 100%;
    height: auto;
  }
}