.container {
  width: 953px;
  background-color: #000000;
  color: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.89);
}

.content {
  margin: 10px;
}

.content h2 {
  text-decoration: underline;
  text-decoration-color: #FFCC00;
  text-align: center;
}

.content h1 {
  text-decoration: underline;
  text-decoration-color: #FFCC00;
  text-align: center;
}

.content ul {
  list-style: none;
}

.content a {
  color: #FFCC00;
  text-decoration: none;
}

.content a:hover {
  color: #000000;
  background-color: #FFCC00;
}

.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .contactSection{
    flex-direction: column;
  }

  .resImg {
    max-width: 100%;
    height: auto;
  }

  .contact {
    flex-direction: column;
  }
}